{% extends 'usermaster.html'  %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MYPHONE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>



</head>
<body>
 
    <div class="row" id="13" >
        <div class=" col-12 " align="center">
          <div class="card" style="width: 35rem;">
            <!-- <h3 align="center">APPLE</H2><hr> -->
           <a href="#"> <img style="min-height:200px ;max-height: 400px;" src="{% static 'images/12pro.jpg'%}" height="200px" width="200px" alt="..."></a>
            <br>
            <div class="card-body">
              <h5 class="card-title"><b>I PHONE 12 PRO</b></h5><hr>
              <p class="card-text"><b>Available  models</b><hr><br><b>
                <h2><b>color</b></h2>
                <button type="button" class="btn btn-dark">white</button>
                <button type="button" class="btn btn-dark">gray</button>
                <button type="button" class="btn btn-dark">gold</button><br><br><br><br>

                <h3>storage</h3>

              <li>64&nbsp;&nbsp;&nbsp;<b> ₹87,000</b> </li>
              <li>128&nbsp;&nbsp;&nbsp; <b>  ₹99,000</b></li>
              <li>256 &nbsp;&nbsp;&nbsp; <b> ₹125,000</b></li></p>
              <h4><b> ₹109,900 <strike>₹125,900</strike></b></h2>
                <h5>FREE Delivery</h3>
                  <b>EMI from ₹2,560/month </b><br><br><br>
                  <a href="{% url 'details' %}" class="btn btn-dark">BUY NOW</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <a href="{% url 'cart' %}"> <button type="button" class="btn btn-dark">ADD TO CART</button></a>  
              
            </div>
          </div><br><br><br>



         
        
        {% endblock %}
    
    
          
    
</body>
</html>